@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding :0;
}
body{
    font-family: 'Nunito' , sans-serif;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721ff 100% );
}
.main{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main p {
    font-size: 44px;
    margin-left: 12px; 
}